# MONGODB_URI="mongodb+srv://smalloys_admin:Ko9vLhp9DI3EX44G@smalloys.5gjmxe3.mongodb.net/?appName=Smalloys"
MONGODB_URI="mongodb://127.0.0.1:27017/smalloys"

CLOUDINARY_CLOUD_NAME="ypoqmm1c"
CLOUDINARY_API_KEY="342682276352794"
CLOUDINARY_API_SECRET="tu_Hn2G7QgpPK2D4Y4HWQKWDOvs"
CLOUDINARY_URL="cloudinary://342682276352794:tu_Hn2G7QgpPK2D4Y4HWQKWDOvs@ypoqmm1c"

JWT_SECRET="absa00065_random_jwt_secret_9988776655"
